body {
	background-color: #fff;
	font-family: Arial sans-serif;
	font-size: 14px;
	color: #000;
}
h1 {
	margin-top: 0;
	font-size: 25px;
}
h2 {
	font-size: 20px;
}
.main-content {
	font-size: 15px;
	width: 1000px;
	margin: 20px auto;
	min-height: 500px;
	background-color: #fff;
}
.main-photo {
	width: 200px;
	height: 200px;
	float: left;
	border-radius: 4px;
}
.mine {
	width: 750px;
	margin-left: 50px;
	margin-bottom: 20px;
	float: left;
}
.hidden-p {
	display: none;
}
.certificates {
	clear: left;
}
.certificates a {
	width: 120px;
	height: 80px;
	margin-right: 20px;
}
.certificates a img {
	width: inherit; /*наследует ширину родителя*/
}
header	{
	width: 1000px;
	margin: 0 auto;
	height: 150px;
	background-color: #344C6E;
	padding: 60px 50px;
	font-size: 25px;
	color: #fff;
	font-weight: bold;
	box-sizing: border-box; /*padding внутри или снаружи элемента*/
	font-family: Tahoma, Verdana sans-serif;
}
footer	{
	width: 1000px;
	margin: 0 auto;
	height: 50px;
	background-color: #344C6E;
	box-sizing: border-box;
	padding: 10px;
	color: #fff;

}
.copy {
	float: left;
}
.social-links {
	float: right;
}
.social-links a {
	color: #fff;
}

/*kafedra*/
.kafedra {
	background-color: #EBEBEB;
	font-family: Tahoma, Geneva, sans-serif;
}
.kafedra header {
	background: -webkit-linear-gradient(top, #FCFCFC 0%,#DFDFDF 100%);
	background: -ms-linear-gradient(top, #FCFCFC 0%,#DFDFDF 100%);
	background: -moz-linear-gradient(top, #FCFCFC 0%,#DFDFDF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FCFCFC, endColorstr=#DFDFDF);

	-webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.3);

	color: #636363;
	padding: 10px 45px;
	height: 130px;
}
.kafedra header a {
	display: block;
	float: left;
}
.kafedra header span {
	display: block;
	float: left;
	margin-top: 35px;
	margin-left: 30px;
}
.kafedra .logo-img {
	width: 100px;
	height: 100px;
}
.kafedra .main-content {
	box-sizing: border-box;
	padding: 50px;
}
.kafedra .mine {
	clear: left;
	margin-left: 0;
	margin-bottom: 0;
}
.kafedra .main-photo {
	float: right;
}
.kafedra .main-text {
	float: left;
	width: 700px;
}
.kafedra footer {
	background-color: #636363;
	height: 120px;
	padding: 30px 45px;
}

.clear {
	clear: both;
}